<footer class="bd-footer text-center text-sm-left">
  <div class="bg-secondary">
    <div class="flex-container p-3 mt-5">
      <ul class="bd-footer-links list-inline pl-0 mb-3 text-right bg dark">
        <li class="list-inline-item">
          <a href="#"><img src="/assets/icons/globe.png" alt="" /></a>
        </li>
      </ul>

      <ul class="bd-footer-links list-inline pl-0 mb-3 text-center">
        <li class="list-inline-item">
          <a href="#"><img src="/assets/icons/facebook.png" alt="" /></a>
        </li>
        <li class="list-inline-item">
          <a href=""><img src="/assets/icons/twitter.png" alt="" /></a>
        </li>
        <li class="list-inline-item">
          <a href="#"><img src="/assets/icons/instagram.png" alt="" /></a>
        </li>
        <li class="list-inline-item">
          <a href="#"><img src="/assets/icons/whatsapp.png" alt="" /></a>
        </li>
        <li class="list-inline-item">
          <a href="#"><img src="/assets/icons/github.png" alt="" /></a>
        </li>
      </ul>
      <ul class="bd-footer-links list-inline pl-0 mb-3 text-center h1">
        <li class="list-inline-item">
          <a class="text-light text-decoration-none" href="#"> Home </a>
        </li>
        <li class="list-inline-item">
          <a class="text-light text-decoration-none" href=""> Menu </a>
        </li>
        <li class="list-inline-item">
          <a class="text-light text-decoration-none" href="#"> Story </a>
        </li>
        <li class="list-inline-item">
          <a class="text-light text-decoration-none" href="#"> Detox </a>
        </li>
        <li class="list-inline-item">
          <a class="text-light text-decoration-none" href="#"> Location </a>
        </li>
      </ul>
      <ul class="bd-footer-links list-inline pl-0 mb-3 text-center">
        <li class="list-inline-item">
          <a class="text-light text-decoration-none" href="#"> Contact </a>
        </li>
        <li class="list-inline-item">
          <a class="text-light text-decoration-none" href=""> Blog </a>
        </li>
        <li class="list-inline-item">
          <a class="text-light text-decoration-none" href="#"> Catring </a>
        </li>
        <li class="list-inline-item">
          <a class="text-light text-decoration-none" href="#"> Delivery </a>
        </li>
      </ul>
    </div>
    <div class="bg-dark text-light">
      <ul class="bd-footer-links list-inline pl-0 mb-3 text-center">
        <li class="list-item h3">
          Helthy Fast-Casual Food, Crafted with <span> &hearts; </span> in
          Minneapolis.
        </li>
        <li class="list-item">
          <span>&copy;</span>Agra culture kitchen & press | All rights resurved
        </li>
      </ul>
    </div>
  </div>
</footer>
