<header class="header">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <ul class="navbar-nav nbr-nv">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link disabled"
            href="#"
            tabindex="-1"
            aria-disabled="true"
            >Disabled</a
          >
        </li>
      </ul>
      <ul class="navbar-nav form">
        <li class="nav-item">
          <form class="d-flex">
            <input
              class="form-control mr-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
          </form>
        </li>
      </ul>
    </div>
  </nav>

  <div class="card text-white bg-secondary mb-3" style="max-width: 35rem;">
    <div class="card-header text-center bg-dark">Check Availavility..</div>
    <div class="card-body">
      <form action="#" class="form container-fluid" id="#">
        <div class="row">
          <div class="col-sm-6">
            <label for="exampleFormControlInput1" class="form-label"
              >Enter Starting Date</label
            >
            <input
              type="date"
              class="form-control mb-4"
              id="exampleFormControlInput1"
            />
            <label for="exampleFormControlSelect1" class="form-label">
              Select Your Subject</label
            >
            <select
              name="#"
              id="exampleFormControlSelect1"
              class="form-select mb-4"
              aria-label=".form-select example"
            >
              <option selected value="#">Select Subject</option>
              <option value="1">c</option>
              <option value="2">c++</option>
              <option value="3">css 5</option>
            </select>
          </div>
          <div class="col-sm-6">
            <label for="exampleFormControlSelect2" class="form-label"
              >Select Your Branch place</label
            >
            <select
              name="#"
              id="exampleFormControlSelect2"
              class="form-select mb-3"
              aria-label=".form=select example"
            >
              <option selected value="#">Select Branch</option>
              <option value="1">Ranchi</option>
              <option value="2">Bokaro</option>
              <option value="3"> JamshedPur</option>
            </select>
            <label for="exampleFormcontrolInput2" class="form-label"
              >Enter Number of Students</label
            >
            <input
              type="number"
              class="form-control mb-4"
              id="exampleFormControlInput2"
              placeholder="Number of student"
            />
          </div>
        </div>

        <div class="">
          <button type="submit" class="btn btn-success mb-3">
            Check Availavility..
          </button>
        </div>
      </form>
    </div>
  </div>
</header>
